.Verify{
    min-height: 60vh;
    display: grid;
}

/* .Verify .spinner{
    width: 80px;
    height: 80px;
    place-self: center;
    border: 5px solid #c6bfbf ;
    border-top-color: #387b66;
    border-radius: 50%;
    animation: rotate 1s infinite;

} */

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}