.about-us {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    /* padding: 20px; */
    background-color: #f9f9f9;
  }
  
  .head {
    height: 35vw;
    width: 100%;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 120vw;
    /* margin: 0 auto; */
    padding: 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  
  .container h2 {
    color: #444;
    margin-top: 20px;
  }
  
  .container p {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .values-list {
    list-style-type: none;
    padding: 0;
  }
  
  .values-list li {
    margin-bottom: 10px;
  }
  
  .values-list li strong {
    color: #e67e22;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .head {
      height: 50vw;
    }
  }
  