.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4% ;
}

.logo{
    color:#0d2249 ;
    font-family: "Roboto", sans-serif;
    font-weight: 1500;
    font-style: normal;
    font-size: 30px;
}

.profile{
    width: 20px;
}